body {
    margin:0;
    padding: 0;
    background-color: grey;
    text-align: center;
}

.container {
    //border: .2rem solid black;
    background-color: #00656b;
    width: 90%;
    height: 45rem;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title{
        text-decoration: underline;
    }
    .form {
        //border: .2rem solid yellow;
        width: 80%;
        display: grid;
        grid-template-areas: 
        "labelEmail labelEmail"
        "consignes consignes"
        "liste liste"
        "progression progression"
        "sendBtn sendBtn";
        grid-template-columns: 1fr 1fr;
        &__labelEmail {
            //border: .2rem solid blue;
            grid-area: labelEmail;
            height: 3rem;
        }
        &__inputEmail {
            width: 12rem;
        }
        &__consignesSecurite {
            grid-area: consignes;
            text-align: left;
        }
        &__listeConsignes {
            grid-area: liste;
            text-align: left;
            & .imgMin3Chiffres {
                width: 2rem;
                height: 2rem;
            }
            & .imgMin3LettresMin {
                width: 2rem;
                height: 2rem;
            }
            & .imgMin1LetterMaj {
                width: 2rem;
                height: 2rem;
            }
            & .imgMin1SpecialCaracter {
                width: 2rem;
                height: 2rem;
            }
        }
        &__containerProgressionSecurite {
            grid-area: progression;
            border: .2rem solid black;
            border-radius: 10px;
            height: 1rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &__barreDeProgression {
            //display: flex;
            background-color: black;
            border-radius: 10px;
            width: 0%;
            height: 100%;
            transition: all 2s;
        }
        &__sendBtn {
            grid-area: sendBtn;
            width: 20%;
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.form__barreDeProgression.change0 {
    width: 0%;
}
.form__barreDeProgression.change1 {
    width: 25%;
    background-color: red;
}
.form__barreDeProgression.change2 {
    width: 50%;
    background-color: orangered;
}
.form__barreDeProgression.change3 {
    width: 75%;
    background-color: yellow;
}
.form__barreDeProgression.change4 {
    width: 100%;
    background-color: green;
}