body {
  margin: 0;
  padding: 0;
  background-color: grey;
  text-align: center;
}

.container {
  background-color: #00656b;
  width: 90%;
  height: 45rem;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__title {
  text-decoration: underline;
}

.container .form {
  width: 80%;
  display: grid;
  grid-template-areas: "labelEmail labelEmail" "consignes consignes" "liste liste" "progression progression" "sendBtn sendBtn";
  grid-template-columns: 1fr 1fr;
}

.container .form__labelEmail {
  grid-area: labelEmail;
  height: 3rem;
}

.container .form__inputEmail {
  width: 12rem;
}

.container .form__consignesSecurite {
  grid-area: consignes;
  text-align: left;
}

.container .form__listeConsignes {
  grid-area: liste;
  text-align: left;
}

.container .form__listeConsignes .imgMin3Chiffres {
  width: 2rem;
  height: 2rem;
}

.container .form__listeConsignes .imgMin3LettresMin {
  width: 2rem;
  height: 2rem;
}

.container .form__listeConsignes .imgMin1LetterMaj {
  width: 2rem;
  height: 2rem;
}

.container .form__listeConsignes .imgMin1SpecialCaracter {
  width: 2rem;
  height: 2rem;
}

.container .form__containerProgressionSecurite {
  grid-area: progression;
  border: .2rem solid black;
  border-radius: 10px;
  height: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .form__barreDeProgression {
  background-color: black;
  border-radius: 10px;
  width: 0%;
  height: 100%;
  transition: all 2s;
}

.container .form__sendBtn {
  grid-area: sendBtn;
  width: 20%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.form__barreDeProgression.change0 {
  width: 0%;
}

.form__barreDeProgression.change1 {
  width: 25%;
  background-color: red;
}

.form__barreDeProgression.change2 {
  width: 50%;
  background-color: orangered;
}

.form__barreDeProgression.change3 {
  width: 75%;
  background-color: yellow;
}

.form__barreDeProgression.change4 {
  width: 100%;
  background-color: green;
}
