@mixin mixinPresentation($color: $saumon) {
    width: 100%;
    height: 50rem;
    background-color: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    & h1 {
        margin-top: 5rem;
        font: 400 4rem OPTISantita;
        letter-spacing: -5px;
        color: #fee;
        text-shadow: 0 0px 10px, 0 0 1em $color, 0 0 0.5em $color, 0 0 0.1em $color, 0 10px 3px #333;
    }
    .inline-photo {
        margin-top: 2rem;
        width: 11rem;
        height: 16rem;
        border-radius: 5px;
        @include neonStyle($color);
        opacity: 0;
        transform: translateY(4em) rotateZ(-5deg);
        transition: transform 4s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out;
        will-change: transform, opacity;
        &.is-visible {
            opacity: 1;
            transform: rotateZ(-1deg);
        }
    }
    & p {
        width: 50%;
        margin-top: 2rem;
    }
    @include responsivePresentation();
}

@mixin responsivePresentation() {
    @each $typeScreen, $resolution in $breakpointsResponsive {
        @if ($resolution == 992px) {
            @media screen and (max-width: $resolution) {
                & p {
                    width: 85%;
                }
            }
        }
    }
}