@mixin mixinFooter($color: red){
    width: 100%;
    color: white;
    margin-top: 250rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &__separationNeonLine {
        height: .5rem;
        width: 100%;
    }
    &__title {
        text-decoration: underline;
        margin-top: 1.5rem;
    }
    &__CV {
        width: 7rem;
        height: 2rem;
    }
    & a {
        text-decoration: none;
    }
    &__download {
        margin-top: 1rem;
    }
    &__copyright {
        text-align: center;
        margin-top: 2rem;
        font-size: .9rem;
    }
}