* {
    margin: 0;
    padding: 0;
};

$paletteLightDarkMode: (
    --light: (
        backgroundColor: darken(#91e2fd, 37%),
        colourTitle: lighten(#fe0000, 5%),
        backgroundColorFormations: darken(#91e2fd, 30%),
    ),
    --dark: (
        backgroundColor: #1B2735,
        colourTitle: #e31b6d,
        backgroundColorFormations: black,
    )
);


@mixin lightDarkMode($paletteColors) {
    @each $state, $palette in $paletteColors{
        &#{$state}{
            background-color: darken(map-get($palette, backgroundColor), 0%);
            //----------------------------------------
            & .header {
                &__section{
                    background-color: darken(map-get($palette, backgroundColor), 0%);
                }
                @include mixinCanvaAnimation(map-get($palette,backgroundColor),map-get($palette,colourTitle));
                & .menuNavigation {
                    background-color: lighten(map-get($palette, backgroundColor), 10%);
                    .nav-link::before, .nav-link::after {
                        background-color: darken(map-get($palette, colourTitle),20%)
                    }
                }
                & .humburgerMenuList {
                    background-color: lighten(map-get($palette, backgroundColor), 10%);
                    .nav-link::before, .nav-link::after {
                        background-color: darken(map-get($palette, colourTitle),20%)
                    }
                }
            }
            //----------------------------------------
            & .presentation {
                & h1 {
                    border-bottom: .25rem solid map-get($palette, colourTitle);
                }
            }
            //----------------------------------------
            & .experiences {
                &__title {
                    //border-bottom: .25rem solid map-get($palette, colourTitle);
                    text-decoration: underline;
                    text-decoration-color: map-get($palette, colourTitle);
                }
            }
            //----------------------------------------
            & .formations {
                & h1 {
                    border-bottom: .25rem solid map-get($palette, colourTitle);
                }
            }
            //----------------------------------------
            & .competences {
                &__title {
                    border-bottom: .25rem solid map-get($palette, colourTitle);
                }
            }
            //----------------------------------------
            & .projets {
                &__title {
                    border-bottom: .25rem solid map-get($palette, colourTitle);
                }
            }
            //----------------------------------------
            & .experiences__descriptif {
                & h1 {
                    color: darken(map-get($palette, colourTitle), 0%)
                }
                & h3 {
                    color: darken(map-get($palette, colourTitle), 0%)
                }
            }
            //----------------------------------------
            & .blocFormation {
                & h3 {
                    color: darken(map-get($palette, colourTitle), 5%);
                }
                &__AFPA:hover{
                    background-color: lighten(map-get($palette,backgroundColorFormations), 20%);
                    border-left: .3rem solid map-get($palette, colourTitle);
                }
                &__OPENCLASSROOMS:hover{
                    background-color: lighten(map-get($palette,backgroundColorFormations), 20%);
                    border-left: .3rem solid map-get($palette, colourTitle);
                }
                &__UDEMY:hover{
                    background-color: lighten(map-get($palette,backgroundColorFormations), 20%);
                    border-left: .3rem solid map-get($palette, colourTitle);
                }
                &__MASTER:hover{
                    background-color: lighten(map-get($palette,backgroundColorFormations), 20%);
                    border-left: .3rem solid map-get($palette, colourTitle);
                }
                &__LICENCE:hover{
                    background-color: lighten(map-get($palette,backgroundColorFormations), 20%);
                    border-left: .3rem solid map-get($palette, colourTitle);
                }
            }
        //----------------------------------------
        & .blocCompetences {
            &__front{
                background-color: lighten(map-get($palette, backgroundColorFormations), 20%);
                &:hover{
                border: .1rem solid darken(map-get($palette, colourTitle), 10%);
                background-color: lighten(map-get($palette, backgroundColorFormations), 35%);
                    }
                }
            &__back{
                background-color: lighten(map-get($palette, backgroundColorFormations), 20%);
                &:hover{
                border: .1rem solid darken(map-get($palette, colourTitle), 10%);
                background-color: lighten(map-get($palette, backgroundColorFormations), 35%);
                    }
                }
            &__BDD{
                background-color: lighten(map-get($palette, backgroundColorFormations), 20%);
                &:hover{
                border: .1rem solid darken(map-get($palette, colourTitle), 10%);
                background-color: lighten(map-get($palette, backgroundColorFormations), 35%);
                    }
                }
            &__VCS{
                background-color: lighten(map-get($palette, backgroundColorFormations), 20%);
                &:hover{
                border: .1rem solid darken(map-get($palette, colourTitle), 10%);
                background-color: lighten(map-get($palette, backgroundColorFormations), 35%);
                    }
                }
            }
            //----------------------------------------
            & .projectsNamesMenu {
                border: .2rem solid darken(map-get($palette, colourTitle), 20%);
                background-color: map-get($palette, backgroundColorFormations);
            }
            & .project {
                border: .2rem solid darken(map-get($palette, colourTitle), 20%);
                background-color: lighten(map-get($palette, backgroundColorFormations), 20%);
                &:hover{
                    background-color: lighten(map-get($palette, backgroundColorFormations), 30%);
                    & h3 {
                        color: map-get($palette, colourTitle);
                    }
                }
                & h3 {
                    color: lighten(yellow, 30%); 
                }
            }
            //----------------------------------------
            .footer {
                background-color: lighten(map-get($palette, backgroundColor), 8%);
                &__separationNeonLine {
                    background-color: darken(map-get($palette, colourTitle),15%);
                    box-shadow: 0 0px 10px, 0 0 1em darken(map-get($palette, colourTitle),20%), 0 0 0.5em darken(map-get($palette, colourTitle),20%), 0 0 0.1em darken(map-get($palette, colourTitle),20%), 0 1px 3px;
                }
                &__title {
                    color: map-get($palette, colourTitle); 
                }
                & a {
                    color: darken(map-get($palette, colourTitle), 5%);
                    &:hover{
                        border-bottom: .09rem solid lighten(map-get($palette, colourTitle), 10%);
                    }
                }
            }
        }
    }
}

//====================================================
.body {
    @include lightDarkMode($paletteLightDarkMode);
}
//=============================================================