$paletteCouleurs: (
    backgroundColorBodyContaineur: #161828,
    backgroundColorHeaderFooter: #414352,
    borderContaineurButtonsSeperatorLines: #5F6173,
    backgroundColorForm: #414352,
    backgroundColorProductTitle: #20212A,
    textColor: #FFF
);